
{% extends "base.html" %}

{% block main %}

<h1>Welcome to JP's BioWorld</h1>

<p>
    Here you will find links to my various projects,
    accreditations, and extrenal links online. Also 
    where you can find out more about me elsewhere on 
    the weberverse! I'm currently studying and building 
    my skill set so check back for updates as I progress. 
</p>

<nav>
    <ul>
        <li><a href="https://github.com/JLBlack">GitHub</a></li>
        <li><a href="/credits/">Credits</a></li>
        <li><a href="/employment/">Work Experience</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/online/">Find Me Online</a></li>
    </ul>
</nav>
{% endblock main %}