<!DOCTYPE html>

<html>
    <head>
        <title>JP's Brains</title>

        <style>
            html, body, h1 {
                margin: 0;
                padding: 0;
            }

            h1 {
                background-color: #FFD1DC;
                color: #323232;
                text-align: center;
            }
        </style>
    </head>

    <body>
        <section>
            <header>
                <h1>Welcome to JP's BioWorld</h1>
            </header>

            <main>
                <p>
                    Here you will find links to my various projects and
                    accredidations, etc. Also where you can find out more
                    about me elsewhere on the weberverse!
                </p>

                <nav>
                    <ul>
                        <li><a href="https://github.com/JLBlack">GitHub</a></li>
                        <li><a href="/credits/">Credits</a></li>
                        <li><a href="/employment/">Work Experience</a></li>
                        <li><a href="/projects/">Projects</a></li>
                        <li><a href="/Online/">Find Me Online</a></li>
                       
                    </ul>
                </nav>
            </main>
        </section>
    </body>
</html>