{% extends "base.html" %}

{% block main %}

<h1>Projects Page</h1>

<style>
.magic-button.game-on {
    right: 10px;
    bottom: 10px;   
    background-color: #000000;
    color: #ffffff;
    font-family: 'VT323', monospace;
    font-size: 3em;
    height: 2.5em;
    width: 2.5em;
    border-radius: 1em;
    box-shadow: 0 0 20px #39ff14;
    
}
</style>

<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet"> 


<button class="magic-button game-on">Game On!</button>



<p>
    Projects go here.
</p>

{% endblock main %}